.ios, .md {

    page-home {

        ion-slide {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 70%w;
            height: 70%h;
            justify-content: center;
            align-items: center;
        }

        ion-item {
            margin-bottom: 5px;
            font-size: 1.2em;
            background-color: map-get($colors, primary);

            justify-content: center;
            align-items: center;
        }

        flash-card {
            color: $text-color;

            img {
                width: 70%;
                height: auto;
            }
        }

        .start-slide {
            justify-content: center;
            align-items: center;

            button {
                font-size: 1.3em;
                font-weight: bold;
            }

            ion-item {
                font-size: 0.8em;
            }
        }


    }

}